<p>{{ site.description }}</p>
<a href="https://www.lib.uidaho.edu/" target="_blank" rel="noopener"><img src="https://www.lib.uidaho.edu/media/digital/ui_library_logo_transparent.png" alt="University of Idaho Library logo" class="img-fluid pb-4"></a> 
<p>
    <a href="{{ site.source-code }}" class="text-dark h4" title="Source Code">{% include icon.html icon="github" %}<span class="visually-hidden">Source Code</span></a> 
    <small> 
        {% if site.content_license_link %}<a href="{{ site.content_license_link }}">{{ site.content_license }}</a>
        {% elsif site.content_license %}{{ site.content_license }}{% endif %} 
        {% if site.publication_year %}{{ site.publication_year }}{% endif %} 
        <br>
        built with <a href="https://github.com/learn-static/lesson-template">Learn-Static</a>
    </small>
</p>
