/* add your tweaks here! */
body {
    color: #494440;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #494440; 
    text-decoration: none;
    font-weight: bold;
}

.bi {
    color: black;
}

.welcome-text {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}